<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css" />
  <title>Navigation</title>
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contact">Contact Form</a></li>
      <li><a href="/admin">Admin Page</a></li>
      <li><a href="https://github.com/SouthBennett/GuestbookForm2.git" target="_blank">GitHub Repo</a></li>
      <li><a href="https://southbennett.github.io/ResumeCSS/" target="_blank">LinkedIn</a></li>
    </ul>
  </nav>
</body>
</html>